<h3 id="demographyTitle">Demography</h3>
<fieldset id="demographyForm">
    <table>
        <tr>
            <td>
                Gender
            </td>
            <td>
                {% for gender in GENDER_CHOICES %}
                    <label for="{{ gender }}">{{ gender }}</label>
                    <input type="radio" name="gender_query" id="{{ gender }}" value="{{ gender }}" />
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Exact Age:
            </td>
            <td>
                <span id="age_value">{{ age_min }},{{ age_max }}</span>&nbsp;&nbsp;
                <input type="text" name="age" class="span2" id="age" value="" data-slider-min="{{ age_min }}" data-slider-max="{{ age_max }}" data-slider-step="1" data-slider-value="[{{ age_min }}, {{ age_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {% for agegrp in AGEGRP_CHOICES %}
                    <input type="checkbox" name="age_grp" id="{{ agegrp }}" value="{{ agegrp }}">
                    <label for="{{ agegrp }}">{{ agegrp }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Height:
            </td>
            <td>
                <span id="height_value">{{ height_min }},{{ height_max }}</span>&nbsp;&nbsp;
                <input type="text" name="height" class="span2" id="height" value="" data-slider-min="{{ height_min }}" data-slider-max="{{ height_max }}" data-slider-step="1" data-slider-value="[{{ height_min }}, {{ height_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Weight:
            </td>
            <td>
                <span id="weight_value">{{ weight_min }},{{ weight_max }}</span>&nbsp;&nbsp;
                <input type="text" name="weight" class="span2" id="weight" value="" data-slider-min="{{ weight_min }}" data-slider-max="{{ weight_max }}" data-slider-step="1" data-slider-value="[{{ weight_min }}, {{ weight_max }}]"/>
            </td>
        </tr>
    </table>
</fieldset>
