<h4 id="demographyTitle">Demography</h4>
<fieldset id="demographyForm">
    <table>
        <tr>
            <td>
                Gender
            </td>
            <td>
                {% for gender in GENDER_CHOICES %}
                    <label for="{{ gender }}">{{ gender }}</label>
                    <input type="radio" name="gender_query" id="{{ gender }}" value="{{ gender }}" />
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Exact Age:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="age" id="age-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ age_min }}" data-slider-max="{{ age_max }}" data-slider-step="1" data-slider-value="[{{ age_min }}, {{ age_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                {% for agegrp in AGEGRP_CHOICES %}
                    <label><input type="checkbox" name="age_grp" id="{{ agegrp }}" value="{{ agegrp }}">&nbsp;{{ agegrp }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Height:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="height" id="height-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ height_min }}" data-slider-max="{{ height_max }}" data-slider-step="1" data-slider-value="[{{ height_min }}, {{ height_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Weight:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="weight" id="weight-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ weight_min }}" data-slider-max="{{ weight_max }}" data-slider-step="1" data-slider-value="[{{ weight_min }}, {{ weight_max }}]"/>
            </td>
        </tr>
    </table>
</fieldset>
