<h3 id="individualTitle">Individual Activity Background</h3>
<div id="individualForm">
    <table>
        <tr>
            <td>
                Metabolic Rate:
            </td>
            <td>
                <td>
                <span id="metabolic_rate_value">{{ metabolic_rate_min }},{{ metabolic_rate_max }}</span>&nbsp;&nbsp;
                <input type="text" name="metabolic_rate" class="span2" id="metabolic_rate" value="" data-slider-min="{{ metabolic_rate_min }}" data-slider-max="{{ metabolic_rate_max }}" data-slider-step="1" data-slider-value="[{{ metabolic_rate_min }}, {{ metabolic_rate_max }}]"/>
            </td>
            </td>
        </tr>
        <tr>
            <td>
                Clothing index:
            </td>
            <td>
                <td>
                <span id="clothing_index_value">{{ clothing_index_min }},{{ clothing_index_max }}</span>&nbsp;&nbsp;
                <input type="text" name="clothing_index" class="span2" id="clothing_index" value="" data-slider-min="{{ clothing_index_min }}" data-slider-max="{{ clothing_index_max }}" data-slider-step="1" data-slider-value="[{{ clothing_index_min }}, {{ clothing_index_max }}]"/>
            </td>
            </td>
        </tr>
        <tr>
            <td>
                Thermal History:
            </td>
            <td>
                <td>
                <span id="thermal_history_value">{{ thermal_history_min }},{{ thermal_history_max }}</span>&nbsp;&nbsp;
                <input type="text" name="thermal_history" class="span2" id="thermal_history" value="" data-slider-min="{{ thermal_history_min }}" data-slider-max="{{ thermal_history_max }}" data-slider-step="1" data-slider-value="[{{ thermal_history_min }}, {{ thermal_history_max }}]"/>
            </td>
            </td>
        </tr>
    </table>
</div>