<h4 title="Click to expand.." id="measurementTitle">Measurement</h4>
<div id="measurementForm">
    <table>
        <tr>
            <td>
                Air Temperature:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="air_temp" id="air_temp-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ air_temp_min }}" data-slider-max="{{ air_temp_max }}" data-slider-step="1" data-slider-value="[{{ air_temp_min }}, {{ air_temp_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Relative Humidity:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="relative_humidity" id="relative_humidity-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ relative_humidity_min }}" data-slider-max="{{ relative_humidity_max }}" data-slider-step="1" data-slider-value="[{{ relative_humidity_min }}, {{ relative_humidity_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Wind Speed:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="wind_speed" id="wind_speed-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ wind_speed_min }}" data-slider-max="{{ wind_speed_max }}" data-slider-step="1" data-slider-value="[{{ wind_speed_min }}, {{ wind_speed_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Global Temperature:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="global_temp" id="global_temp-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ global_temp_min }}" data-slider-max="{{ global_temp_max }}" data-slider-step="1" data-slider-value="[{{ global_temp_min }}, {{ global_temp_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Mean Radiant Temperature:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="mean_radiant_temp" class="span2" id="mean_radiant_temp-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ mean_radiant_temp_min }}" data-slider-max="{{ mean_radiant_temp_max }}" data-slider-step="1" data-slider-value="[{{ mean_radiant_temp_min }}, {{ mean_radiant_temp_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                Radiation:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="radiation" id="radiation-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ radiation_min }}" data-slider-max="{{ radiation_max }}" data-slider-step="1" data-slider-value="[{{ radiation_min }}, {{ radiation_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                PET:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="pet" id="pet-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ pet_min }}" data-slider-max="{{ pet_max }}" data-slider-step="0.5" data-slider-value="[{{ pet_min }}, {{ pet_max }}]"/>
            </td>
        </tr>
        <tr>
            <td>
                UTCI:&nbsp;&nbsp;
            </td>
            <td>
                <input type="text" name="utci" id="utci-slider" value="" data-slider-id="SLIDER" data-slider-min="{{ utci_min }}" data-slider-max="{{ utci_max }}" data-slider-step="0.5" data-slider-value="[{{ utci_min }}, {{ utci_max }}]"/>
            </td>
        </tr>
    </table>
</div>