<h4 id="subjectiveTitle">Subjective Assessment</h4>
<div id="subjectiveForm">
    <table>
        <tr>
            <td>
                Thermal Sensation Vote (7-pt)
            </td>
            <td>
                {% for tsv7 in FIRST_CHOICES %}
                <label><input type="checkbox" name="thermal_sensation_vote_7" value="{{ tsv7 }}">&nbsp;{{ tsv7 }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Thermal Sensation Vote (9-pt)
            </td>
            <td>
                {% for tsv9 in SECOND_CHOICES %}
                <label><input type="checkbox" name="thermal_sensation_vote_9" value="{{ tsv9 }}">&nbsp;{{ tsv9 }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Thermal Comfort Vote
            </td>
            <td>
                {% for tcv in SECOND_CHOICES %}
                <label><input type="checkbox" name="thermal_comfort_vote" value="{{ tcv }}">&nbsp;{{ tcv }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference Vote (7-pt)
            </td>
            <td>
                {% for tpv7 in SECOND_CHOICES %}
                <label><input type="checkbox" name="thermal_preference_vote_7" value="{{ tpv7 }}">&nbsp;{{ tpv7 }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference (3-pt scale)
            </td>
            <td>
                {% for tp in THIRD_CHOICES %}
                <label><input type="checkbox" name="thermal_preference" value="{{ tp }}">&nbsp;{{ tp }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Thermal Acceptance
            </td>
            <td>
                {% for ta in SECOND_CHOICES %}
                <label><input type="checkbox" name="thermal_acceptance" value="{{ ta }}">&nbsp;{{ ta }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Wind Sensation Vote
            </td>
            <td>
                {% for wsv in SECOND_CHOICES %}
                <label><input type="checkbox" name="wind_sensation_vote" value="{{ wsv }}">&nbsp;{{ wsv }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Solar Sensation Vote
            </td>
            <td>
                {% for ssv in SECOND_CHOICES %}
                <label><input type="checkbox" name="solar_sensation_vote" value="{{ ssv }}">&nbsp;{{ ssv }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                Humidity Sensation Vote
            </td>
            <td>
                {% for hsv in SECOND_CHOICES %}
                <label><input type="checkbox" name="humidity_sensation_vote" value="{{ hsv }}">&nbsp;{{ hsv }}</label>
                {% endfor %}
            </td>
        </tr>
    </table>
</div>