<h3 id="subjectiveTitle">Subjective Assessment</h3>
<div id="subjectiveForm">
    <table>
        <tr>
            <td>
                Thermal Sensation Vote (7-pt)
            </td>
            <td class="form-check">
                <input type="checkbox" name="thermal_sensation_vote_7" class="form-check-input" id="thermal_sensation_vote_7_1" value="-4">
                <label class="form-check-label" for="thermal_sensation_vote_7_1">-4</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_2" value="-3">
                <label for="thermal_sensation_vote_7_2">-3</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_3" value="-2">
                <label for="thermal_sensation_vote_7_3">-2</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_4" value="-1">
                <label for="thermal_sensation_vote_7_4">-1</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_5" value="0">
                <label for="thermal_sensation_vote_7_5">0</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_6" value="1">
                <label for="thermal_sensation_vote_7_6">1</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_7" value="2">
                <label for="thermal_sensation_vote_7_7">2</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_8" value="3">
                <label for="thermal_sensation_vote_7_8">3</label>
                <input type="checkbox" name="thermal_sensation_vote_7" id="thermal_sensation_vote_7_9" value="4">
                <label for="thermal_sensation_vote_7_9">4</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Sensation Vote (9-pt)
            </td>
            <td class="form-check">
                <input type="checkbox" name="thermal_sensation_vote_9" class="form-check-input" id="thermal_sensation_vote_9_1" value="-4">
                <label class="form-check-label" for="thermal_sensation_vote_9_1">-4</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_2" value="-3">
                <label for="thermal_sensation_vote_9_2">-3</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_3" value="-2">
                <label for="thermal_sensation_vote_9_3">-2</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_4" value="-1">
                <label for="thermal_sensation_vote_9_4">-1</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_5" value="0">
                <label for="thermal_sensation_vote_9_5">0</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_6" value="1">
                <label for="thermal_sensation_vote_9_6">1</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_7" value="2">
                <label for="thermal_sensation_vote_9_7">2</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_8" value="3">
                <label for="thermal_sensation_vote_9_8">3</label>
                <input type="checkbox" name="thermal_sensation_vote_9" id="thermal_sensation_vote_9_9" value="4">
                <label for="thermal_sensation_vote_9_9">4</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Comfort Vote
            </td>
            <td>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote1" value="-3">
                <label for="thermal_comfort_vote1">-3</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote2" value="-2">
                <label for="thermal_comfort_vote2">-2</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote3" value="-1">
                <label for="thermal_comfort_vote3">-1</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote4" value="0">
                <label for="thermal_comfort_vote4">0</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote5" value="1">
                <label for="thermal_comfort_vote5">1</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote6" value="2">
                <label for="thermal_comfort_vote6">2</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote7" value="3">
                <label for="thermal_comfort_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference Vote (7-pt)
            </td>
            <td>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_1" value="-3">
                <label for="thermal_preference_vote_7_1">-3</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_2" value="-2">
                <label for="thermal_preference_vote_7_2">-2</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_3" value="-1">
                <label for="thermal_preference_vote_7_3">-1</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_4" value="0">
                <label for="thermal_preference_vote_7_4">0</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_5" value="1">
                <label for="thermal_preference_vote_7_5">1</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_6" value="2">
                <label for="thermal_preference_vote_7_6">2</label>
                <input type="checkbox" name="thermal_preference_vote_7" id="thermal_preference_vote_7_7" value="3">
                <label for="thermal_preference_vote_7_7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference (3-pt scale)
            </td>
            <td>
                <input type="checkbox" name="thermal_preference" id="thermal_preference1" value="-1">
                <label for="thermal_preference1">-1</label>
                <input type="checkbox" name="thermal_preference" id="thermal_preference2" value="0">
                <label for="thermal_preference2">0</label>
                <input type="checkbox" name="thermal_preference" id="thermal_preference3" value="1">
                <label for="thermal_preference3">1</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Acceptance
            </td>
            <td>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance1" value="-3">
                <label for="thermal_acceptance1">-3</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance2" value="-2">
                <label for="thermal_acceptance2">-2</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance3" value="-1">
                <label for="thermal_acceptance3">-1</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance4" value="-0">
                <label for="thermal_acceptance4">0</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance5" value="1">
                <label for="thermal_acceptance5">1</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance6" value="2">
                <label for="thermal_acceptance6">2</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance7" value="3">
                <label for="thermal_acceptance7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Wind Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote1" value="-3">
                <label for="wind_sensation_vote1">-3</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote2" value="-2">
                <label for="wind_sensation_vote2">-2</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote3" value="-1">
                <label for="wind_sensation_vote3">-1</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote4" value="-0">
                <label for="wind_sensation_vote4">0</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote5" value="1">
                <label for="wind_sensation_vote5">1</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote6" value="2">
                <label for="wind_sensation_vote6">2</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote7" value="3">
                <label for="wind_sensation_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Solar Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote1" value="-3">
                <label for="solar_sensation_vote1">-3</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote2" value="-2">
                <label for="solar_sensation_vote2">-2</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote3" value="-1">
                <label for="solar_sensation_vote3">-1</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote4" value="-0">
                <label for="solar_sensation_vote4">0</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote5" value="1">
                <label for="solar_sensation_vote5">1</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote6" value="2">
                <label for="solar_sensation_vote6">2</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote7" value="3">
                <label for="solar_sensation_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Humidity Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote1" value="-3">
                <label for="humidity_sensation_vote1">-3</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote2" value="-2">
                <label for="humidity_sensation_vote2">-2</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote3" value="-1">
                <label for="humidity_sensation_vote3">-1</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote4" value="-0">
                <label for="humidity_sensation_vote4">0</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote5" value="1">
                <label for="humidity_sensation_vote5">1</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote6" value="2">
                <label for="humidity_sensation_vote6">2</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote7" value="3">
                <label for="humidity_sensation_vote7">3</label>
            </td>
        </tr>
    </table>
</div>