<h4 title="Click to expand.." id="surveyTitle">Survey Background</h4>
<div id="surveyForm">
    <table>
        <tr>
            <td>
                Location
            </td>
            <td>
                <select name="location">
                    {% for location in LOCATION_CHOICES %}
                        <option id="{{ location }}" value="{{ location }}">{{ location }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Climate
            </td>
            <td>
                <select name="climate">
                    {% for climate in CLIMATE_CHOICES %}
                        <option id="{{ climate }}" value="{{ climate }}">{{ climate }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Time
            </td>
            <td>
                <select name="time">
                    {% for time in TIME_CHOICES %}
                        <option id="{{ time }}" value="{{ time }}">{{ time }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Season
            </td>
            <td>
                <select name="season">
                    {% for season in SEASON_CHOICES %}
                        <option id="{{ season }}" value="{{ season }}">{{ season }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                City/ Country
            </td>
            <td>
                <select name="city">
                    {% for city in CITY_CHOICES %}
                        <option id="{{ city }}" value="{{ city }}">{{ city }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                SVF
            </td>
            <td>
                <select name="svf">
                    {% for svf in SVF_CHOICES %}
                        <option id="{{ svf }}" value="{{ svf }}">{{ svf }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>
</div>