{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
{% load plotly_dash %}
<h1>Plotly Plot</h1>
<div class="text-right">
    <div class="btn-group btn-group-toggle">
        <a href="{% url 'plot' %}" class="btn btn-primary disabled" role="button" aria-disabled="true">Plotly</a>
        <a href="{% url 'shiny' %}" class="btn btn-primary" role="button" aria-disabled="true">Shiny</a>
    </div>
</div>
<div class="{% plotly_class name='SimpleExample' %} card" style="height: 100%; width: 100%">
    {% plotly_app name='SimpleExample' ratio=0.9 %}
</div>
<br>
{% endblock %}

