{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Outdoor temperature data{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" integrity="sha512-3q8fi8M0VS+X/3n64Ndpp6Bit7oXSiyCnzmlx6IDBLGlY5euFySyJ46RUlqIVs0DPCGOypqP8IRk/EyPvU28mQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock extrastyle %}

{% block main %}
<div class="main-container">
    <form method="get" id="selectSubjective" class="filter-form">
        <h3 title="Click to expand all.." class="filter-form-title" id="filterTitle" style="font-weight: bold;">Filter Data</h3>
        <div class="main-container">
            {% include 'data_table/includes/subjective_assessment.html' %}
            {% include 'data_table/includes/demography.html' %}
            {% include 'data_table/includes/individual_act_bg.html' %}
            {% include 'data_table/includes/measurement.html' %}
            {% include 'data_table/includes/survey_bg.html' %}
        </div>
        <button type="submit" id="selectBtn" class="btn btn-primary" name="search">Filter</button>
        <button type="submit" class="btn btn-primary" name="reset">Reset</button>
    </form>

    <p title="{{ jump }}" id="tableAnchor"></p>

    {% include 'data_table/includes/select_column_filter.html' %}

    <div id="django_table" style="overflow-x: scroll;">
        {% include 'data_table/includes/django_table.html' %}
    </div>

    {% load querystring from django_tables2 %}
    <a href="{% querystring '_export'='csv' %}" class="btn btn-primary">Download CSV</a>
</div>
{% endblock %}

{% block extrajs %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.js" integrity="sha512-tCkLWlSXiiMsUaDl5+8bqwpGXXh0zZsgzX6pB9IQCZH+8iwXRYfcCpdxl/owoM6U4ap7QZDW4kw7djQUiQ4G2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}
