<form method="get" id="selectSubjective" class="filter-form">
    <h3 class="filter-form-title">Filter Data</h3>
    <table>
        <tr>
            <td><h3>Subjective Assessment</h3></td>
        </tr>
        <tr>
            <td>
                Thermal Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote1" value="-4">
                <label for="thermal_sensation_vote1">-4</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote2" value="-3">
                <label for="thermal_sensation_vote2">-3</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote3" value="-2">
                <label for="thermal_sensation_vote3">-2</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote4" value="-1">
                <label for="thermal_sensation_vote4">-1</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote5" value="0">
                <label for="thermal_sensation_vote5">0</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote6" value="1">
                <label for="thermal_sensation_vote6">1</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote7" value="2">
                <label for="thermal_sensation_vote7">2</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote8" value="3">
                <label for="thermal_sensation_vote8">3</label>
                <input type="checkbox" name="thermal_sensation_vote" id="thermal_sensation_vote9" value="4">
                <label for="thermal_sensation_vote9">4</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Comfort Vote
            </td>
            <td>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote1" value="-3">
                <label for="thermal_comfort_vote1">-3</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote2" value="-2">
                <label for="thermal_comfort_vote2">-2</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote3" value="-1">
                <label for="thermal_comfort_vote3">-1</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote4" value="0">
                <label for="thermal_comfort_vote4">0</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote5" value="1">
                <label for="thermal_comfort_vote5">1</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote6" value="2">
                <label for="thermal_comfort_vote6">2</label>
                <input type="checkbox" name="thermal_comfort_vote" id="thermal_comfort_vote7" value="3">
                <label for="thermal_comfort_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference Vote
            </td>
            <td>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote1" value="-3">
                <label for="thermal_preference_vote1">-3</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote2" value="-2">
                <label for="thermal_preference_vote2">-2</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote3" value="-1">
                <label for="thermal_preference_vote3">-1</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote4" value="0">
                <label for="thermal_preference_vote4">0</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote5" value="1">
                <label for="thermal_preference_vote5">1</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote6" value="2">
                <label for="thermal_preference_vote6">2</label>
                <input type="checkbox" name="thermal_preference_vote" id="thermal_preference_vote7" value="3">
                <label for="thermal_preference_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Preference (3-pt scale)
            </td>
            <td>
                <input type="checkbox" name="thermal_preference" id="thermal_preference1" value="-1">
                <label for="thermal_preference1">-1</label>
                <input type="checkbox" name="thermal_preference" id="thermal_preference2" value="0">
                <label for="thermal_preference2">0</label>
                <input type="checkbox" name="thermal_preference" id="thermal_preference3" value="1">
                <label for="thermal_preference3">1</label>
            </td>
        </tr>
        <tr>
            <td>
                Thermal Acceptance
            </td>
            <td>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance1" value="-3">
                <label for="thermal_acceptance1">-3</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance2" value="-2">
                <label for="thermal_acceptance2">-2</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance3" value="-1">
                <label for="thermal_acceptance3">-1</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance4" value="-0">
                <label for="thermal_acceptance4">0</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance5" value="1">
                <label for="thermal_acceptance5">1</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance6" value="2">
                <label for="thermal_acceptance6">2</label>
                <input type="checkbox" name="thermal_acceptance" id="thermal_acceptance7" value="3">
                <label for="thermal_acceptance7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Wind Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote1" value="-3">
                <label for="wind_sensation_vote1">-3</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote2" value="-2">
                <label for="wind_sensation_vote2">-2</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote3" value="-1">
                <label for="wind_sensation_vote3">-1</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote4" value="-0">
                <label for="wind_sensation_vote4">0</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote5" value="1">
                <label for="wind_sensation_vote5">1</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote6" value="2">
                <label for="wind_sensation_vote6">2</label>
                <input type="checkbox" name="wind_sensation_vote" id="wind_sensation_vote7" value="3">
                <label for="wind_sensation_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Solar Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote1" value="-3">
                <label for="solar_sensation_vote1">-3</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote2" value="-2">
                <label for="solar_sensation_vote2">-2</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote3" value="-1">
                <label for="solar_sensation_vote3">-1</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote4" value="-0">
                <label for="solar_sensation_vote4">0</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote5" value="1">
                <label for="solar_sensation_vote5">1</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote6" value="2">
                <label for="solar_sensation_vote6">2</label>
                <input type="checkbox" name="solar_sensation_vote" id="solar_sensation_vote7" value="3">
                <label for="solar_sensation_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td>
                Humidity Sensation Vote
            </td>
            <td>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote1" value="-3">
                <label for="humidity_sensation_vote1">-3</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote2" value="-2">
                <label for="humidity_sensation_vote2">-2</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote3" value="-1">
                <label for="humidity_sensation_vote3">-1</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote4" value="-0">
                <label for="humidity_sensation_vote4">0</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote5" value="1">
                <label for="humidity_sensation_vote5">1</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote6" value="2">
                <label for="humidity_sensation_vote6">2</label>
                <input type="checkbox" name="humidity_sensation_vote" id="humidity_sensation_vote7" value="3">
                <label for="humidity_sensation_vote7">3</label>
            </td>
        </tr>
        <tr>
            <td><h3>Demography</h3></td>
        </tr>
        <tr>
            <td>
                Gender
            </td>
            <td>
                <label for="M">M</label>
                <input type="radio" name="gender_query" id="M" value="M" />
                <label for="F">F</label>
                <input type="radio" name="gender_query" id="F" value="F" />
            </td>
        </tr>
        <tr>
            <td>
                Exact Age
            </td>
            <td>
                <label for="age_min_query">Minimum: </label>
                <input type="text" name="age_min_query" id="age_min_query" placeholder="Enter min.." />
                <label for="age_max_query">Maximum: </label>
                <input type="text" name="age_max_query" id="age_max_query" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Age
            </td>
            <td>
                <input type="checkbox" name="age_grp" id="age_grp1" value="age_grp1">
                <label for="age_grp1">＜18</label>
                <input type="checkbox" name="age_grp" id="age_grp2" value="age_grp2">
                <label for="age_grp1">18-44</label>
                <input type="checkbox" name="age_grp" id="age_grp3" value="age_grp3">
                <label for="age_grp1">45-64</label>
                <input type="checkbox" name="age_grp" id="age_grp4" value="age_grp4">
                <label for="age_grp1">65+</label>
            </td>
        </tr>
        <tr>
            <td>
                Height
            </td>
            <td>
                <label for="height_min">Minimum: </label>
                <input type="text" name="height_min_query" id="height_min" placeholder="Enter min.." />
                <label for="height_max">Maximum: </label>
                <input type="text" name="height_max_query" id="height_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Weight
            </td>
            <td>
                <label for="weight_min">Minimum: </label>
                <input type="text" name="weight_min_query" id="weight_min" placeholder="Enter min.." />
                <label for="weight_max">Maximum: </label>
                <input type="text" name="weight_max_query" id="weight_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td><h3>Individual Activity background </h3></td>
        </tr>
        <tr>
            <td>
                Metabolic Rate
            </td>
            <td>
                <label for="metabloci_rate_min">Minimum: </label>
                <input type="text" name="metabloci_rate_min_query" id="metabloci_rate_min" placeholder="Enter min.." />
                <label for="metabloci_rate_max">Maximum: </label>
                <input type="text" name="metabloci_rate_max_query" id="metabloci_rate_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Clothing index
            </td>
            <td>
                <label for="clothing_index_min">Minimum: </label>
                <input type="text" name="clothing_min_query" id="clothing_index_min" placeholder="Enter min.." />
                <label for="clothing_index_max">Maximum: </label>
                <input type="text" name="clothing_index_max_query" id="clothing_index_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Thermal History
            </td>
            <td>
                <label for="thermal_history_min">Minimum: </label>
                <input type="text" name="thermal_history_min_query" id="thermal_history_min" placeholder="Enter min.." />
                <label for="thermal_history_max">Maximum: </label>
                <input type="text" name="thermal_history_max_query" id="thermal_history_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td><h3>Measurment</h3></td>
        </tr>
        <tr>
            <td>
                Air Temperature
            </td>
            <td>
                <label for="air_temp_min">Minimum: </label>
                <input type="text" name="air_temp_min_query" id="air_temp_min" placeholder="Enter min.." />
                <label for="air_temp_max">Maximum: </label>
                <input type="text" name="air_temp_max_query" id="air_temp_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Relative Humidity
            </td>
            <td>
                <label for="relative_humidity_min">Minimum: </label>
                <input type="text" name="relative_humidity_min_query" id="relative_humidity_min" placeholder="Enter min.." />
                <label for="relative_humidity_max">Maximum: </label>
                <input type="text" name="relative_humidity_max_query" id="relative_humidity_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Wind Speed
            </td>
            <td>
                <label for="wind_speed_min">Minimum: </label>
                <input type="text" name="wind_speed_min_query" id="wind_speed_min" placeholder="Enter min.." />
                <label for="wind_speed_max">Maximum: </label>
                <input type="text" name="wind_speed_max_query" id="wind_speed_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Global Temperature
            </td>
            <td>
                <label for="global_temp_min">Minimum: </label>
                <input type="text" name="global_temp_min_query" id="global_temp_min" placeholder="Enter min.." />
                <label for="global_temp_max">Maximum: </label>
                <input type="text" name="global_temp_max_query" id="global_temp_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Mean Radiant Temperature
            </td>
            <td>
                <label for="mean_radiant_temp_min">Minimum: </label>
                <input type="text" name="mean_radiant_temp_min_query" id="mean_radiant_temp_min" placeholder="Enter min.." />
                <label for="mean_radiant_temp_max">Maximum: </label>
                <input type="text" name="mean_radiant_temp_max_query" id="mean_radiant_temp_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                Radiant
            </td>
            <td>
                <label for="radiant_min">Minimum: </label>
                <input type="text" name="radiant_min_query" id="radiant_min" placeholder="Enter min.." />
                <label for="radiant_max">Maximum: </label>
                <input type="text" name="radiant_max_query" id="radiant_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                PET
            </td>
            <td>
                <label for="pet_min">Minimum: </label>
                <input type="text" name="pet_min_query" id="pet_min" placeholder="Enter min.." />
                <label for="pet_max">Maximum: </label>
                <input type="text" name="pet_max_query" id="pet_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td>
                UTCI
            </td>
            <td>
                <label for="utci_min">Minimum: </label>
                <input type="text" name="utci_min_query" id="utci_min" placeholder="Enter min.." />
                <label for="utci_max">Maximum: </label>
                <input type="text" name="utci_max_query" id="utci_max" placeholder="Enter max.." />
            </td>
        </tr>
        <tr>
            <td><h3>Survey Background</h3></td>
        </tr>
        <tr>
            <td>
                Location
            </td>
            <td>
                <select name="location_query">
                    <option>---Select---</option>
                    <option id="campus" value="Campus">Campus</option>
                    <option id="park" value="Park">Park</option>
                    <option id="residential" value="Residential">Residential</option>
                    <option id="square" value="Square">Square</option>
                    <option id="street" value="Street">Street</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Climate
            </td>
            <td>
                <select name="climate_query">
                    <option>---Select---</option>
                    <option id="Aw">Aw</option>
                    <option id="Bwh">Bwh</option>
                    <option id="Cfb">Cfb</option>
                    <option id="Csa">Csa</option>
                    <option id="Cwa">Cwa</option>
                    <option id="Dfb">Dfb</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Time
            </td>
            <td>
                <select name="time_query">
                    <option>---Select---</option>
                    <option id="t1" value="t1">6:00 - 8:59</option>
                    <option id="t2" value="t2">9:00 - 11:59</option>
                    <option id="t3" value="t3">12:00 - 14:59</option>
                    <option id="t4" value="t4">15:00 - 17:59</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                Season
            </td>
            <td>
                <select name="season_query">
                    <option>---Select---</option>
                    <option id="autumn" value="Autumn">Autumn</option>
                    <option id="dry" value="Dry">Dry</option>
                    <option id="spring" value="Spring">Spring</option>
                    <option id="summer" value="Summer">Summer</option>
                    <option id="wet" value="Wet">Wet</option>
                    <option id="winter" value="Winter">Winter</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                City/ Country
            </td>
            <td>
                <select name="season_query">
                    <option>---Select---</option>
                    <option id="s1" value="1">Athens/Greece</option>
                    <option id="s2" value="2">Cuibá/ Brazil</option>
                    <option id="s3" value="3">Curitiba/Brazil</option>
                    <option id="s4" value="4">Glasgow/UK</option>
                    <option id="s5" value="5">Guayaquil/Ecuador</option>
                    <option id="s6" value="6">Hong Kong</option>
                    <option id="s6" value="6">Melbourne/option>
                    <option id="s6" value="6">Szeged/Hungary</option>
                    <option id="s6" value="6">Tempe</option>
                    <option id="s6" value="6">Warsaw/Poland</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                SVF
            </td>
            <td>
                <select name="svf_query">
                    <option>---Select---</option>
                    <option id="full_sun" value="full sun">full sun</option>
                    <option id="shade_both" value="shade(both)">shade(both)</option>
                    <option id="shade_solar" value="shade(solar">shade(solar)</option>
                    <option id="shade_tree" value="shade(tree)">shade(tree)</option>
                    <option id="sun_down" value="sun down">sun down</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><button type="submit" id="submitBtn" name="subjective_form">Search</button></td>
        </tr>
    </table>
</form>